@()(implicit request: RequestHeader)

@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Reindex from CSV</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />
    </head>
    <body>
        <nav>
            <span>
                <a href="@routes.ThrallController.index">&lt; back to Thrall Dashboard</a>
            </span>
        </nav>
        <main>
            <h1>Reindex images from CSV file</h1>
            <p>
                This option will send a message to kinesis to reindex images in elasticsearch from a CSV file.
            </p>
            <p>The CSV file should contain one image ID per line.</p>
            <p>Select the CSV file below and hit 'submit'...</p>

            @form(action = routes.ThrallController.reindexFromCsv(), Symbol("enctype") -> "multipart/form-data") {
                <input type="file" name="csv">
                <input type="submit" value="Upload">
            }
        </main>
    </body>
</html>
